.campus{
    margin: 80px auto;
    width: 90%;
    text-align: center;

}
.gallery{
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin-bottom: 40px;
}
.gallery img{
    width: 23%;
    border-radius: 10px;
}

